<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TraderTestV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TraderTestV2.Properties.Settings>
            <setting name="LocX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorB" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ColorS" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="BodySize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ColorP" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorN" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorBO" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorSO" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorCOIB" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorCOIS" serializeAs="String">
                <value />
            </setting>
        </TraderTestV2.Properties.Settings>
    </userSettings>
</configuration>